.btn-google {
    background-color: #CC3622;
    box-shadow: 0 4px 0 #BA2714;

    display: inline;
    position: relative;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 10px 60px;
}

.btn-google:active {
    top: 2px;
    box-shadow: 0 2px 0 #BA2714;
    color: white;
    text-decoration: none;
}

.btn-google:hover {
    background-color: #D04829;
    color: white;
    text-decoration: none;
}

.btn-create-post {
    margin-left: 65px;
}
